* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  font-family: Arial, sans-serif;
  background-image: url("../assets/images/dark5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.home-content {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  text-align: center;
  background: linear-gradient(135deg, #000000, #c0c0c0, #1f3d61);
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  color: white;
  z-index: 10;
}

.home-card {
  width: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.intro-text {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  background-color: #999b9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

button:hover {
  background-color: #777777;
}

@media (max-width: 600px) {
  .home-content {
    padding: 25px;
    max-width: 90%;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .home-content {
    padding: 30px;
    max-width: 80%;
  }

  h2 {
    font-size: 1.8rem;
  }

  button {
    padding: 11px;
  }
}

@media (max-width: 1600px) {
  .home-content {
    max-width: 700px;
  }

  h2 {
    font-size: 2rem;
  }
}
