/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply background image to the body element */
body {
  font-family: Arial, sans-serif;
  background-image: url("../assets/images/seamless.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
}

/* Main content wrapper */
.home-content {
  width: 100%;
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Home card styling */
.home-card {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

/* Title Styling */
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* Intro text styling */
.intro-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

/* Button styling */
button {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  background-color: #c0c0c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

button:hover {
  background-color: #c0c0c0;
}

/* From 412px to 600px (Mobile Small) */
@media (max-width: 600px) {
  body {
    padding: 0 10px;
  }

  .home-content {
    padding: 25px;
    max-width: 90%;
    margin: 20px auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    padding: 10px;
  }
}

/* From 500px to 1024px (Tablets) */
@media (max-width: 1024px) {
  .home-content {
    padding: 30px;
    max-width: 80%;
  }

  h2 {
    font-size: 1.8rem;
  }

  button {
    padding: 11px;
  }
}

/* Larger screens */
@media (max-width: 1600px) {
  .home-content {
    max-width: 700px;
  }
  h2 {
    font-size: 2rem;
  }
}
